@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Roboto Slab";
    color: #111761;
}

#dropdown-basic{
    background-color: #99a0ca;
}

.nav-link{
    color: #111761;
}
