@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Roboto Slab", serif;
    color: #111761;
}

.navbar-col{
    text-align: center;
    margin : auto;
}

#dropdown-basic{
    background-color: #99a0ca;
}

.nav-link{
    color: #111761;
}

#sidebar-menu{
    background-color: #99a0ca;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30%;
}

.sidebar-li{
    float: left;
    border-bottom: 1px solid #111761;
}

.sidebar-link {
    display: table-cell;
    height: 30px;
    color: #111761;
}

.sidebar-ul {
    list-style-type: none;
    height: 100%;
    background-color: #99a0ca;
}
