@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Roboto Slab", serif;
    color: #111761;
}

.navbar-col {
    text-align: center;
    margin: auto;
}

#dropdown-basic {
    background-color: #99a0ca;
    border: 0px solid #99a0ca;
}

#dropdown-menu {
    text-decoration: none;
    background-color: white;
    color: #111761;
    border: none;
}

.nav-link {
    color: #111761;
}

.mon-button {
    background-color: #99a0ca;
    height: 30px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.mon-delete-button {
    background-color: #e36491;
    height: 30px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mon-validate-button {
    background-color: #639d37 ;
    height: 30px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    color: white;
}

.mon-input {
    margin : 10px;
}

.image-css {
    height: 100px;
}

.p-cursor:hover {
    cursor: pointer;
}

.vertical-align{
    vertical-align: top;
}

.yes-cell {
    background-color: #74b574;
}

.no-cell {
    background-color: #dd7a7a;
}

.option-disabled {
    background-color: #99a0ca;
}

.no-cursor {
    cursor: none;
}

.thead-blue {
    background-color: #99a0ca;
}

.td-red {
    background-color: #f69bbd;
}

.button-design {
    border: none;
    border-radius: 7px;
}

.icon-bg-color-yes {
    background-color: #74b574;
}

.icon-bg-color-no {
    background-color: #f69bbd;
}

.tr-blue {
    background-color: #99a0ca;
}

.small-input {
    width: 60px;
}
